In [2]:
import pandas as pd

In [7]:
# load data
df = pd.read_csv("nuts2_basic_panel_clean.csv")

In [8]:
df.columns

Index(['geo', 'time', 'gdp', 'gfcf', 'gerd', 'employment_total', 'gva_total',
       'population_total', 'hightech_emp', 'gfcf_over_gdp', 'gerd_over_gdp',
       'hightech_emp_share'],
      dtype='object')

In [9]:
df["gdp_pc"] = (df["gdp"] * 1000) / df["population_total"]

In [10]:
df.columns

Index(['geo', 'time', 'gdp', 'gfcf', 'gerd', 'employment_total', 'gva_total',
       'population_total', 'hightech_emp', 'gfcf_over_gdp', 'gerd_over_gdp',
       'hightech_emp_share', 'gdp_pc'],
      dtype='object')

In [22]:
df.to_csv("nuts2_ce_with_gdp_pc.csv", index=False)

In [23]:
df = pd.read_csv("nuts2_ce_with_gdp_pc.csv")
df_ind = pd.read_csv("industry_emp.csv")

In [24]:
df_merged = df.merge(
    df_ind[["geo", "time", "industry_emp"]],
    on=["geo", "time"],
    how="inner"
)

In [25]:
print(df_ce.shape)
print(df_ind.shape)
print(df_merged.shape)

df_merged.head()

(7417, 12)
(4890, 3)
(4239, 14)

,geo,time,gdp,gfcf,gerd,employment_total,gva_total,population_total,hightech_emp,gfcf_over_gdp,gerd_over_gdp,hightech_emp_share,gdp_pc,industry_emp
0,AT11,2008,60515.48,9850.0,1403.4085,1074.6,66470.0,563.9,2293.2,0.162768,0.017121,2.134003,107315.978010,21.1
1,AT11,2009,61040.34,9362.0,966.5650,1073.0,67490.0,566.4,2315.8,0.153374,0.015835,2.158248,107768.961864,18.1
2,AT11,2010,63978.79,9548.0,1403.4085,1081.1,70792.0,568.0,2362.4,0.149237,0.017121,2.185182,112638.714789,18.3
3,AT11,2011,66900.67,10090.0,1159.1720,1117.5,74224.0,570.0,2359.0,0.150821,0.017327,2.110962,117369.596491,19.7
4,AT11,2012,69691.16,11442.0,1403.4085,1129.6,76822.0,572.3,2361.7,0.164182,0.017121,2.090740,121773.824917,20.5

In [26]:
# industry emplyment share

df_merged["industry_emp_share"] = (
    df_merged["industry_emp"] / df_merged["employment_total"]
)

In [33]:
df_merged = df_merged.drop(columns=[
    "industry_emp"
    
])

In [31]:
df.columns

Index(['geo', 'time', 'gdp', 'gfcf', 'gerd', 'employment_total', 'gva_total',
       'population_total', 'hightech_emp', 'gfcf_over_gdp', 'gerd_over_gdp',
       'hightech_emp_share', 'gdp_pc'],
      dtype='object')

In [34]:
df_merged.columns

Index(['geo', 'time', 'gfcf_over_gdp', 'gerd_over_gdp', 'hightech_emp_share',
       'gdp_pc', 'industry_emp_share'],
      dtype='object')

In [35]:
df_merged.to_csv("nuts2_gdp_pc.csv", index=False)